<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/clock/5/plot" value="false" />
    <add key="/intelcpu/0/clock/6/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="725" />
    <add key="mainForm.Location.Y" value="196" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="logSensorsMenuItem" value="false" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAPuy6+dOw++3PBgYnJwktycyMYCBrdMcgSQo28bJI/0YC4x9eSpMjZWTC1yNpdPi/TBxC6cOthQ4GwBXtqDPYAAAAA==" />
    <add key="/nvidiagpu/0/fan/0/values" value="" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEABPl/LXT8PstD8aCApe12xOZGMAgzzlAIAnMZjwQ7PzvH4J9Nj0ZwmYIcm7L6eSEsQFzO2cRSAAAAA==" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEABPl/LXT8Pstj//Nfq5rtycyMQABY8Mp54WPNwrA2AAwAa+bJAAAAA==" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEABPl/LXT8PstDwYg8JstLMwABQAa07YWGAAAAA==" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAJM3+LXT8PstDwYGBcdz2xOZGMBgmaOlQBKUvcTx1XUYe5rjt75kKPuQ46UCmPonjh18MDW7HC/wwth7HF3YUuBsAGCOXZtsAAAA" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAJM3+LXT8PstDwaGBw7nticyMYDBBkdLgSQom8np1XUYe5Pjt75kKHuK46UCmPpJjh18MDUzHC/wwtg/HF3YUqDsXY4AjyVoNmwAAAA=" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAJM3+LXT8PstDwYgCD0kLMwABQDeqqT7GAAAAA==" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAJM3+LXT8PstDwaGDQ7nticyMYCBhaOlQBKUreH46jqC/a0vGcp2cLxUAFPv49jBlwRnX+CFsSMcXdhS4GwAu6UWMWwAAAA=" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAJM3+LXT8PstD7kNDxzPbU9kYgCCII37jpYCSWC2E+N9x9//IOxV4vccn6Yng9lGt+45Ss+EqP8l/8BRgxeixovjvuPzZxDxLrd7ji5sKWC2kOM9RwDLHszrbAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAJM3+LXT8PstjwmSFq7nticyMQDBh2kWrpYCSWB2wWIL19//IGyDdxauT9OTIWrWW7hKz4So3+Bu4arBC1Wz0ML1+TOIuMF9C1cXthSI+gcWrgBMLyRBbAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAJM3+LXT8Pstjwdn+l3ObU9kYgAChUt9LpYCSRD2zj6X3/8g7AXKfS5P05Mh4gv6XKRnQtQvKOh30eCFqtnb5/L8GVTcsc/FhS0Fot6uzwUAQQpMBWwAAAA=" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAJM3+LXT8PstDwaGBtfQQ8LCDGDQ4AoA0EpA5RgAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAHOs+7XT8Pstjy9/FRw3bk9kYgCC4oyrDr4CSWA2k/Y1h6T/EHbu88sOm/uSwexkgasOrwsh6u24rjrkmEDU/K674tDAC2HfOnfJYQ1bCpids+eSAwBNh1StbAAAAA==" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEADMJ+7fT8PstD4Z3NU5XbyYyMYCAiZyTukgShO0zy5HnL5ztJNCVDGGfnOXE2AZVv3eO004FqJqELCfriVBxIDhgkgJhR8xwBABTctZobAAAAA==" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAIuQZd5l+P2Wx4GK7c5bLiQyMQCBw8ktzqeVksDsA+ZrnZ9zJIPZDG9WOrXGQNkX3zj5zIGob+Cd5VzmCFHPEDTTuaATIs4w4ZHzjy8Q9QfKHjoDAIdnnudsAAAA" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAHPTmLTL8Pstj1MbtjlZr0hmYgCCOV+2ODH1JoDZN9O3OJ04mQRmn564xenoxkQwO9Jni1PAJoj6P/ZbnLSCIOImcVucBLZA1JvYbHES2gxR8y5xixMANfxE02wAAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAHPTmLTL8Pstj7qm+w7WK5KZGIBAKPmuA1NvAph9a9sdhxMnk8BsnVd3HI5uTASzzabecQjYBFEv1nbHQSsIIs63+o6DwBaI+rLGOw5CmyFq5q2/4wAAvWRCpmwAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAHPTmLTL8Pstj4AsTXvrFclMDECwIdXKnqk3AcwuOG5vf+JkEpj9QMfO/ujGRDB7whUH+4BNEPUTfB3ttYIg4hdUHewFtkDUTyhytBfaDFETwOhgDwDCHrEwbAAAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAKs49Gan4fdbHkeq8h2D+ZOYGIDg1dsfDkeaIGyGhisOB/0g7P2rGRw3SULYdVe/OZRuh7DLtt50cLyfCGa7iYs5sp6DiLfFHnTwvAMRr+CWcAQAHr1HQ2wAAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAPMvebPT8PstjykiqxxrYpOYGMBAzPFIE4x9wuGgH5Tt8NxhkySCXbodxt7q4Hg/EcxOq5R3ZD0HEe+62+TgeQci/mWhqiMAdKQ5uGwAAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAKs49Gan4fdbHl9VfByD+ZOYGEBggZ3jkSYYW9XxoB+UrZDiuEkSwnZb4O5Yuh0qniDv6Hg/EcyWTDN1ZD0HES93snb0vAMRZ3hQ5ggA1VACA2wAAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAKs49Gan4fdbHplBUY7B/ElMDCBwYIXDkSYo22Grw0E/CPsXzxeHTZJQ8Ya3DqXboWyGXw6O9xPB7LSbGo6s5yDifjnHHTzvJELVczoCAEO7Lm9sAAAA" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAKs49Gan4fdbHjGzsh2D+ZOYGEDAYavDkSYou+GKw0E/BHuTJEzNOYfS7TD2cwfH+4lg9qYz/I6s5yDiIrsXOnjeSYSrAQACk/gLbAAAAA==" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAKs49Gan4fdbHkn/ah2D+ZOYGEDAYavDkSYYu9nhoB+UzbDeYZMklN2w26F0O4R9AijueD8RzDbyWe/Aeg4q7pfr4HkHIq5WdssBAJ2SujVsAAAA" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEAKs49Gan4fdbHlHLLRyD+ZOYGIBgdyeP45EmCJvhwC2Hg35QNsNDh02SEHafw22H0u0w8WkOjvcTIewEeUfWczDx9Q6edyDiR9M5HQG0BhSnbAAAAA==" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAKs49Gan4fdbHgwMgU7B/ElMDGBg7HSkCcY2cTroB2MbOG2ShLGNnEq3w9jmTo73E6FsayfWcwhzPO/AxB2cABkxv1dsAAAA" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAKs49Gan4fdbHgwM/k7B/ElMDGDg4HSkCca2dTroB2NbOm2ShLHtnUq3w9jOTo73E6HsICfWczBxTyfPOzBxaycAxsS4cmwAAAA=" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAKs49Gan4fdbHgwMXk7B/ElMDGBg4nSkCcbWdzroB2PrOW2ShLF1nUq3I9Q73k+Esm2cWM/BxI2dPO/AxK2dAONpFcRsAAAA" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAKs49Gan4fdbHgwMKU7B/ElMDGDg53SkCcZ2cjroB2O7OW2ShLFdnEq3w9juTo73E6HsECfWczBxZyfPOzBxRycA2+h0GmwAAAA=" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAKs49Gan4fdbHgwMvk7B/ElMDGBg73SkCcY2cTroB2MbO22SRIiXbkewHe8nQtk2TqznYOIWTp53EuFsAJEG0kZsAAAA" />
    <add key="/intelcpu/0/temperature/5/values" value="H4sIAAAAAAAEAKs49Gan4fdbHgwMcU7B/ElMDGBg73SkCca2cTroB2NbOm2ShLHNnUq3w9h2To73E6FsZyfWcwhxzzswcQcnAB5/teBsAAAA" />
    <add key="/intelcpu/0/temperature/6/values" value="H4sIAAAAAAAEAKs49Gan4fdbHgwM6U7B/ElMDGDg73SkCcZ2cjroB2O7OSk5wNjuTqwTYWwvJ8f7iVB2lBPrOZi4r5PnHZi4txMAgeeOmmwAAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAPuy6+dOw++3PLbJHneS3J7IxAAEi2SOO80RSIKzRf5B2AuBbJPMZDB7DpB9eSpE/TIg20UAoWbxfoj4AiC7gy0Fbg4A8+aEv2wAAAA=" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAFNe+3an4fdbHoJy9a4mLxKZGIDgV2GAK5NxEpytfgjCzuoLdtVfngxmr5Cpdw3ph6jfAmQ/PQ1hn1rV5Or5GMJeCxR3/g9RvwHIBgC4E7pWbAAAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEADsh+2Gn4fdbHoJy9a4KlxKZGIBgg0y9q6lSEpg9UabRlfElgp3elAxmrwCqYVsDUe973Nv11kkIez1Q/OxtCLsktMH1zstkuJkAk1sbyGwAAAA=" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEALvU92mn4fdbHoJy9a7/NyUyMQDB88Jm121aSWD2Bpl6V7F7EHZJaINraXMymF0IZK9fBFE/WabRNfQzhL0eqN5+N4Q9ASi+jisFbg4AbH9meGwAAAA=" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEANv2/8tOw++3PFTDGlwn9ycyMQDBBpl61/e6SWD22seNri/+QdjrgOIFDclgdkFog+u5Loj6V4XNrqueQdglQPG39yHstSBznkLUT5RpdAUAYDeisGwAAAA=" />
    <add key="/intelcpu/0/clock/5/values" value="H4sIAAAAAAAEAPtX8H2n4fdbHoJy9a7K/YlMDECw7nGjq6BEEpi9Qabe9YBYMkQcyP4VC2EXhja4flwMUV8OZIe/g7DXA9Xk7Yew1wDNYedMAbMnyTS6AgC7YP5TbAAAAA==" />
    <add key="/intelcpu/0/clock/6/values" value="H4sIAAAAAAAEAPuy6+dOw++3PATl6l0ltycyMQDB6VVNrnMEksDsktAGV5F/EPaPwgBXk8xkMLsQKH55KkS9/fFWVxeo+rWPG10X74eIr5Wpd+1gSwGzNwDZAAHFdEBsAAAA" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAPuy6+dOw++3PMz9tztKbk9kYgCCrW96HecIJIHZWkr9jiL/IOzizKmOJpnJYPaDrz2Ol6dC1M++MdnRBaqee9csx8X7IeJMB9odO9hSwGwRzjmOAEcJYBdsAAAA" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAPuy6+dOw++3POb3TXKU3J7IxAAEFhkxjnMEksBsxcw4R5F/EPbhxCxHk8xkMPvZsijHy1Mh6hfPS3d0garncCt1XLwfIm48NcCxgy0FzJ5oV+EIAB1Yyv1sAAAA" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAPuy6+dOw++3PI6//G0ruT2RiQEIVr4UspsjkARmJ5lr2In8g7Dl36ramWQmg9l1J1TtLk+FqO/KMLRzgaqfeVvFbvF+iHjsQl27DrYUMLtpvoYdAA+TE4psAAAA" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAPuy6+dOw++3PBiAwH62sDADFAAAyqZR+hgAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>